@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Sevillana&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* FONTS */
.sedgwick-ave-display-regular {
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  font-style: normal;
}
.oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oleo-script-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}
.dancing-script-uniquifier {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

       /* CODES */
body{
    background-color: black;
}
#vanakkam{
         display: inline-block;
         position: relative;
         margin-top: 40%;
         margin-bottom: ;
         
}
#vanakkam h4{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-left: 90px;
    margin-top: 40px;
    
}


#heading{
    color: white;
    margin-left: 90px;
    font-family: Manrope, "Manrope Placeholder", sans-serif;
    margin-top: 10px;
    display: inline;
    font-size: 50px;
}
#h6{
    color: white;
    font-family: Manrope, "Manrope Placeholder", sans-serif;
     margin-left: 90px;
     margin-top: 10px;
     font-size: 15px;
     
}
#hr{
    color: rgb(85, 85, 85);
    width: 500px;
    margin-left: 25px;
    opacity: 0.5;
    margin-top: 10px;
}
.fa-solid{
    color: white;
    font-size: 20px;
    margin-left: 84px;
    margin-top: 40px;
    font-family: Manrope, "Manrope Placeholder", sans-serif;
    display: inline;

}
.f1-solid{
    color: white;
    margin-left:10px;
    display: inline;
    font-size: 20px;
 
}
 h6{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
    
}

.input1{
    background-color: #000000;
    border: none;
    border-radius: 5px;
    width: 67rem;
    height: 60px;
    margin-top: 95px;
    margin-left: 50px;
    font-size: 21px;
    color: white;
    display: inline;
    position: absolute;
    padding : 10px;
    border: 1px solid rgb(66, 66, 66);
}
h5{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin-left: 55px; 
    margin-top: 160px;
    position: relative;


}

/* .label2{
    display: inline-block;
margin-left: 180px;
margin-top: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;
} */
.input2{
    background-color: #000000;
    border: none;
    border-radius:5px;
    width: 67rem;
    height: 60px;
    display: inline;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
    padding : 11px;
    position: absolute;
   border: 1px solid rgb(66, 66, 66);
    
}
.submit{
    margin-left: 40%;
    margin-top: 20px;
}
.label4{
    color: white;
    position: relative;
    left: 50px;
    top: 60px;
    display: inline-block;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
      
    
}
textarea{
    width: 67rem;
    height: 100px;
    margin-top: 80px;
    margin-left: 50px;
    background-color: #000000;
    border-radius: 5px;
    position: absolute;
    border: 1px solid rgb(66, 66, 66);
    color: white;
    display: block;
    padding: 10px;
    font-size: 20px;

}
.submit-form{
           width: 67rem;
           height: 60px;
           color: white;
           padding: 15px;
           border-radius: 9px;
           border: 2px solid #6a0dad;
           margin-left: 50px;
           margin-top: 250px;
           font-size: 20px;
           position: absolute;
           display: block;
           background-color: #6a0dad;
}
.submit-form:hover{
    background-color: #6a0dad;
    cursor: pointer;
    color: white;
    
}






